.background {
  min-height: 100vh;
  text-align: center;
}

.background::before {
  content: "";
  position: fixed; /* important */
  inset: 0;
  background-image: url("/images/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  z-index: -1;
}
@-webkit-keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    overflow: hidden;

}

li {
    flex: 1;
    text-align: left;
}

li a {
    font-family: 'Open-Dyslexic', sans-serif;
    width: 100%;
    min-height: 100px;
    display: flex;
    color: white;
    align-items: center;
justify-content: center;
    text-decoration: none;
       transition: transform 0.2s;

}aboutGlass
.active {

    font-weight: bold;
    font-style: italic;
}

li a:hover {
    transform: scale(2);
    font-family: 'Open-Dyslexic', sans-serif;
    font-style: italic;
}

html,body{
    margin: auto;
  font-family: 'Open-Dyslexic', sans-serif;}

.mainTitle {
    color: rgb(255, 0, 0);
    margin-top: 2vw;
    display: inline-block;
    justify-content: center;
    font-size: 25px;
    font-family: 'Open-Dyslexic';
}
.mainTitle img {
    border-radius: 25px;

    height: 5%;
    width: 5%;
}

.maintitle p {
    color: rgb(255, 255, 255);
}

h1,
h2,
p {
    color: rgb(255, 255, 255)
}

h1 span {
    font-size: 54px;
}


.balls {

    width: 250px;
    margin: 25px auto;
    color: #ffffff;
    font-size: 16px;
}
.instagram-minimal {
  max-width: 400px;
  margin: 0 auto;
}

.instagram-minimal iframe {
  border: none !important;
}

.burger_pics img{
    min-width: 200px;
    height: 10%;
    width: 10%;
    padding:15px;
     border-radius: 25px 25px;
}
.contentFrame {
    
    display: inline-block;
    width: auto;
    margin: auto;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.55);
}



.gamePictureDiv {
    font-family: "Protest Strike", sans-serif;
    max-width: 500px;
    display: inline-block;
    margin: 0 25px;vertical-align: middle;
    transition: transform 0.2s;
}

.gamePictureDiv h1 {
    text-align: left;
    font-style: italic;
    width: auto;
    font-size: 20px;
}

.gamePictureDiv img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px 25px;

}

.gamePictureDiv:hover,
.gamePictureDiv:focus {
    transform: scale(1.1);
}

.gamePictureDiv:not(:hover),
.gamePictureDiv:not(:focus) {}

.centeredContainer {
    font-family: "Fira Code", monospace;
    margin-top: 25px;
    color: white;
    justify-content: center;

}

.messagebox {
     display: inline-block;
    max-width: 800px;           
    padding: 20px;
    font-family: "Fira Code", monospace;
    color: white;
    text-align: center;        
}

.messagebox p {
    text-align: center;
    margin: 50px;
}
.netLogo{
    min-width: 50px;
  max-width: 3vw;
}
.aboutGlass {
    /* From https://css.glass */
    display: inline-block;
    width: auto;
        border: 1px solid rgba(255, 255, 255, 0.55);

    font-family: "Protest Strike", sans-serif;
    background: rgba(255, 255, 255, 0.303);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}
.aboutGlass img{
    height: 10%;
    width: 10%;
}

.profilePicture {
    min-width: 20%;
    height: auto;
    border-radius: 15%;
    margin-bottom: 25px;
    filter: grayscale(0.3);

}

footer {
    background-color: #2c2526;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.css-selector {
    background: linear-gradient(270deg, #305cb4, #f7d515);
    background-size: 400% 400%;

    -webkit-animation: gradientbackground 30s ease infinite;
    -moz-animation: gradientbackground 30s ease infinite;
    -o-animation: gradientbackground 30s ease infinite;
    animation: gradientbackground 30s ease infinite;
}

@-webkit-keyframes gradientbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradientbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes gradientbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradientbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}



/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#pageContent {
    display: none;
    text-align: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #ffae00 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#00ff0d00 30%, #007fa3);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}

