
.background{
    background-color: #ffffff;
    text-align: center;
}
ul {

    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    font-family: "Montserrat", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    background-color: purple;
}

li a:hover {
    background-color: #ff4d00;
}


.mainTitle {
    color: rgb(52, 52, 52);
    margin-top: 2vw;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
}
h1, h2, p{
    color: rgb(77, 77, 77)
}

.balls {

    width: 250px;
    margin: 25px auto;
    color: #ffffff;
    font-size: 16px;
}

.gamePictureDiv{
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    transition: transform 0.2s;
}
.gamePictureDiv h1{
    text-align: left;
    font-style: italic;
    width: auto;
    font-size: 20px;
}
 .gamePictureDiv img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px 25px;
    
}
.gamePictureDiv:hover, .gamePictureDiv:focus{
        transform: scale(1.1);
}
.gamePictureDiv:not(:hover), .gamePictureDiv:not(:focus){
}
.centeredContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.messagebox{
    width: 600px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}


